<footer>
  <article>
    <section>
      <h2>About C<span class="cfsg">o</span>founders Pte Ltd</h2>
      <p>We’re a collective of designers and developers that help build startups for fun and profit.</p>
      <p>Find out more at <a href="http://www.cofounders.sg/">cofounders.sg</a>.</p>
      <p>
        <a href="{{ site.owner.facebook }}" class="social facebook">Cofounders on Facebook</a>
        <a href="{{ site.owner.github }}" class="social github">Cofounders on GitHub</a>
      </p>
    </section>
    <section>
      <h2>About Legal.cf.sg</h2>
      <p>This service is dedicated to the creative community in Singapore. <a href="{{ site.url }}">Legal.cf.sg</a> hosts free and open source legal templates. Its goal is to improve access to legal information.</p>
      <p>Lovingly handspun by the unlawyerly geeks of Cofounders Pte Ltd.</p>
    </section>
    <section>
      <h2>Minutiæ</h2>
      <ul>
        <li><a href="https://github.com/cofounders/legal/blob/gh-pages/CONTRIBUTING.md">How to Contribute</a></li>
        <li><a href="https://github.com/cofounders/legal/blob/gh-pages/LICENSE.md">Copyright Attribution</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms & Conditions</a></li>
      </ul>
    </section>
  </article>
</footer>
