---
layout: menu
---
<section id="document">
  <header>
    <div class="meta">
      <h1>{{ page.title }}</h1>
      <ul class="authors">
        {% for author in page.authors %}
        <li><a href="{{ author.contact }}">{{ author.name }}</a></li>
        {% endfor %}
      </ul>
      <p class="license">
        License:
        <a href="{{ page.license.url }}">{{ page.license.name }}</a>
      </p>
      <p class="date">
        Published:
        <a href="{{ site.owner.github }}/legal/commits/gh-pages/{{ page.path }}">
          <time datetime="{{ page.date | date_to_xmlschema }}">
            {{ page.date | date_to_long_string }}
          </time>
        </a>
      </p>
    </div>
    <div class="controls">
      <button class="action print" disabled>Print</button>
    </div>
  </header>
  <article>
    {{content}}
  </article>
  <script src="{{ site.baseurl }}scripts/dom.js"></script>
  <script src="{{ site.baseurl }}scripts/print.js" async></script>
  <script src="{{ site.baseurl }}scripts/definitions.js" async></script>
  <script src="{{ site.baseurl }}scripts/editor.js" async></script>
  <script src="{{ site.baseurl }}scripts/input.js" async></script>
</section>
