/* Page: Document
 */

#document {
  background-color: #0089c2;
  font-family: Merriweather;
  font-size: 18rem;
}
#document [contenteditable]:focus {
  outline: none;
}
#document > header {
  display: -webkit-flex;
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
  -webkit-align-items: center;
  -moz-align-items: center;
  align-items: center;
}
#document > header .meta {
  -webkit-flex: auto;
  flex: auto;
  color: #eee;
  padding-left: 5px;
}
#document > header .meta h1 {
  color: #fff;
  font-family: 'Roboto Slab', serif;
  font-size: 24rem;
  font-weight: 400;
  margin: 0;
}
#document > header .meta p,
#document > header .meta ul {
  font-style: italic;
  margin: 0;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-style: italic;
  font-size: 18rem;
}
#document > header .meta a {
  color: #eee;
  text-decoration: none;
}
#document > header .controls {
  -webkit-flex: none;
  flex: none;
  width: 300px;
  padding: 0 5px;
}
#document > header .controls button {
  display: block;
  width: 100%;
  margin: 10px 0;
}
#document > header .controls button.pdf:before {
  content: 'd';
}
#document > header .controls button.print:before {
  content: 'p';
}
#document > article {
  line-height: 30rem;
  font-size: 18rem;
  color: #333;
  background-color: white;
  margin: 0 auto 60px auto;
  padding: 60px 120px;
}
#document > article h1,
#document > article h2,
#document > article h3,
#document > article h4,
#document > article h5,
#document > article h6 {
  color: #333;
  margin: 1em 0;
}
#document > article h1,
#document > article h2,
#document > article h3 {
  font-family: 'Merriweather Sans';
  font-weight: 700;
  text-transform: none;
}
#document > article h1 {
  font-size: 48rem;
  margin: 2em 0.5em 3em 0.5em;
  line-height: 1.5;
}
#document > article h2 {
  font-size: 24rem;
}
#document > article h3 {
  text-align: center;
  font-size: 18rem;
}
#document > article h2 + h3 {
  margin-top: 0;
}
#document > article h4 {
  margin: 0 0 0.5em 0;
  font-size: 18rem;
}
#document > article h5 {
  display: inline-block;
  margin: 0;
  font-size: 18rem;
}
#document > article h5:after {
  content: '-';
  margin: 0 1em;
}
#document > article p {
  margin: 0.5em 0;
}
#document > article p:first-child {
  margin-top: 0;
}
#document > article b {
  font-weight: 900;
  text-transform: uppercase;
}
#document > article ul {
  margin: 0.5em 0;
  padding: 0;
  list-style-type: none;
}
#document > article ol {
  margin: 0.5em 0;
  padding: 0 0 0 50px;
  list-style-type: none;
}
#document > article ol { counter-reset: section 0; }
#document > article ol[start="2"] { counter-reset: section 1; }
#document > article ol[start="3"] { counter-reset: section 2; }
#document > article ol[start="4"] { counter-reset: section 3; }
#document > article ol[start="5"] { counter-reset: section 4; }
#document > article ol[start="6"] { counter-reset: section 5; }
#document > article ol[start="7"] { counter-reset: section 6; }
#document > article ol[start="8"] { counter-reset: section 7; }
#document > article ol[start="9"] { counter-reset: section 8; }
#document > article ol[start="10"] { counter-reset: section 9; }
#document > article ol[start="11"] { counter-reset: section 10; }
#document > article ol[start="12"] { counter-reset: section 11; }
#document > article ol[start="13"] { counter-reset: section 12; }
#document > article ol[start="14"] { counter-reset: section 13; }
#document > article ol[start="15"] { counter-reset: section 14; }
#document > article ol[start="16"] { counter-reset: section 15; }
#document > article ol ol {
  padding: 0;
}
#document > article ol ol ol {
  padding: 0 0 0 40px;
}
#document > article li {
  margin: 1em 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
}
#document > article ol li {
  counter-increment: section;
  padding-left: 50px;
}
#document > article ol li {
  margin-left: -50px;
}
#document > article ol li:before {
  content: counters(section, '.') '.';
  position: absolute;
  left: 0;
}
#document > article ol ol ol li:before {
  content: '(' counter(section, lower-latin) ')';
}
#document > article ol ol ol ol li:before {
  content: '(' counter(section, lower-roman) ')';
}
#document > article li li li {
  padding-left: 40px;
  margin-left: -40px;
}
#document > article li ol li {
}
#document > article dfn {
  font-weight: 900;
  font-style: italic;
}
#document > article dfn:before {
  content: open-quote;
}
#document > article dfn:after {
  content: close-quote;
}
#document > article a:local-link {
  border-bottom: 2px dashed #0089c2;
  background-color: #dff5ff;
}
#document > article dl {
  margin: 0.5em 0;
}
#document > article dt {
  display: inline;
}
#document > article dd {
  display: inline;
  margin: 0;
}
#document > article dd + dt:before {
  content: '\A';
  white-space: pre;
  font-size: 0;
}
#document > article dl ol {
}
#document > article dl ol li {
  padding-left: 40px;
  margin: 0.5em 0;
}
#document > article dl ol li:before {
  content: counter(section, lower-latin) ')';
}
#document > article table,
#document > article thead,
#document > article tbody,
#document > article tr,
#document > article th,
#document > article td {
  margin: 0;
  padding: 0;
  border-style: none;
}
#document > article table {
  border-spacing: 0;
  width: 100%;
}
#document > article thead {
  background-color: #bbb;
}
#document > article thead tr {
}
#document > article thead th,
#document > article thead td {
  padding: 0.5em;
  vertical-align: middle;
}
#document > article tbody {
}
#document > article tbody tr {
}
#document > article tbody th,
#document > article tbody td {
  padding: 0.5em;
  vertical-align: top;
}
#document > article th {
  text-align: left;
}
#document > article textarea {
}
#document > article input {
  border-style: none;
  border-bottom: 2px solid #cdcdcd;
  border-radius: 0;
  text-align: center;
  font-family: Merriweather;
  font-size: 18rem;
  font-weight: 900;
  min-width: 300px;
  height: auto;
  padding: 5px 0;
  margin: 0;
  background-color: transparent;
}
#document > article input[type=date] {
	text-transform: uppercase;
}
#document > article input:invalid {
  border-bottom-color: #d00;
}
#document > article .shadow-input {
  display: none;
}

#document > article .aside,
#document > article aside {
  display: inline-block;
  font-family: Delius;
  font-weight: 400;
  font-size: 18rem;
  line-height: 24rem;
  text-align: left;
  background-color: #ffc;
  padding: 1em;
  border: 1px solid #ccc;
}
#document > article * .aside,
#document > article * aside {
  margin: 0 0 0 1em;
  width: 300px;
  float: right;
}

#document .defining-term {
  border-bottom: 1px dotted #0089c2;
  text-decoration: none;
  color: inherit;
  padding: 0 0.15em;
}

#tooltip {
  position: absolute;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 12px 12px 12px 45px;
  margin: 10px 0;
  background-color: #dff5ff;
  display: block;
  font-family: Merriweather;
  font-weight: 300;
  font-size: 14rem;
  font-style: normal;
  line-height: 1.5;
  color: #333;
  -webkit-animation: tooltip .25s linear;
  -moz-animation: tooltip .25s linear;
  animation: tooltip .25s linear;
}
#tooltip:before {
  content: 'w';
  font-family: 'cfsg-icon-fonts';
  font-size: 18rem;
  color: #333;
  display: inline-block;
  width: 18px;
  height: 18px;
  position: absolute;
  left: 17px;
  top: 9px;
}
#tooltip * {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-style: inherit;
  line-height: inherit;
  border-radius: 0;
  color: inherit;
  border: none;
  background-color: transparent;
  width: auto;
  display: inline;
  margin: 0;
  padding: 0;
}
#tooltip a {
  text-decoration: none;
}
#tooltip aside,
#tooltip .aside {
  display: none;
}
#tooltip li {
  display: list-item;
  list-style-type: disc;
  margin-left: 20px;
}

@media screen and (max-width: 768px) {
  #document > header {
    display: block;
  }
  #document > header .meta {
    padding: 0 20px;
  }
  #document > header .controls {
    width: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 20px 10px 0 10px;
  }
  #document > header .controls button {
    -webkit-flex: auto;
    flex: auto;
    min-width: 250px;
    width: auto;
    margin: 0 10px 10px 10px;
  }
  #document > article h1 {
    font-size: 36rem;
    margin: 3em 0;
  }
  #document > article {
    padding: 0 20px;
  }
  #document > article ol {
    padding: 0 0 0 0;
  }
  #document > article ol ol ol {
    padding: 0 0 0 0;
  }
  #document > article li {
    position: relative;
  }
  #document > article ol li:before {
    position: relative;
    left: auto;
    font-weight: 900;
    margin-right: 1em;
  }
  #document > article li li ol li:before {
    left: 0;
  }
  #document > article li h4 {
    display: inline-block;
  }
  #document > article dl ol li {
    padding-left: 0;
  }
  #document > article table {
    display: block;
    overflow: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-overflow-scrolling: touch;
    white-space: nowrap;
  }
  #document > article .aside,
  #document > article aside {
    float: none;
    width: 100%;
    margin: 10px 0;
  }
}

@media print {
  #document > header {
    display: none;
  }
  * {
    background-color: transparent !important;
  }
  #document .defining-term {
    border-bottom: none;
    padding: 0;
  }
  #document > article .aside,
  #document > article aside {
    display: none;
  }
  #document > article input:valid {
    display: none;
  }
  #document > article .shadow-input {
    display: inline;
  }
  #document > article h1 {
    line-height: 1.25;
    margin: 0 0.5em 0.75em 0.5em;
  }
  #document > article h2 {
	  page-break-before: always;
  }
  #document > article h3,
  #document > article h4 {
	  page-break-after: avoid;
  }
}

@-webkit-keyframes tooltip {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0.3;
  }
  75% {
    -webkit-transform: scale(0.9, 0.9);
    opacity: 0.7;
  }
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  };
}
@-moz-keyframes tooltip {
  0% {
    -moz-transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    -moz-transform: scale(1.2, 1.2);
    opacity: 0.3;
  }
  75% {
    -moz-transform: scale(0.9, 0.9);
    opacity: 0.7;
  }
  100% {
    -moz-transform: scale(1, 1);
    opacity: 1;
  };
}
@keyframes tooltip {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }
  50% {
    transform: scale(1.2, 1.2);
    opacity: 0.3;
  }
  75% {
    transform: scale(0.9, 0.9);
    opacity: 0.7;
  }
  100% {
    transform: scale(1, 1);
    opacity: 1;
  };
}
